# /etc/skel/.envrc
#
# Enviorment configuration. each shell you may use can source 
# this file and the enviorment will remain synchronized.

# setup path to include user's bin directory
if [ -d "${HOME}/bin" ]; then
    PATH="${PATH}:${HOME}/bin"
fi

# aliases
alias grep='grep --color=auto'
alias ls='ls -lh --color=auto'
alias du='du -h'
alias df='df -h'
